body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'webdings', sans-serif;
    text-align: center;
    overflow: hidden;
}
h1 {
    font-size: 2em;
    max-width: 90%;
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }
}
@font-face {
    font-family: 'webdings';
    src: url('fonts/webdings.woff2') format('woff2'),
         url('fonts/webdings.woff') format('woff'),
         url('fonts/webdings.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}