body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
    overflow: hidden;
}
ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 2em;
    max-width: 90%
}